# Vectors in R

A vector is a collection of elements, all of the same type. For instance, c(1, 3, 2, 1, 5) is a vector consisting of the numbers 1, 3, 2, 1, 5, in that order.
Similarly, c("R", "Excel", "SAS", "Excel") is a vector of the character elements “R,” “Excel,” “SAS” and “Excel.” A vector cannot be of mixed type.

In [1]:
X <-c(1,2,3,4,5,6,7,8,9,10)
X

 [1]  1  2  3  4  5  6  7  8  9 10

In [2]:
X* 3

 [1]  3  6  9 12 15 18 21 24 27 30

In [3]:
X - 3

 [1] -2 -1  0  1  2  3  4  5  6  7

In [4]:
X/4

 [1] 0.25 0.50 0.75 1.00 1.25 1.50 1.75 2.00 2.25 2.50

In [5]:
X^2

 [1]   1   4   9  16  25  36  49  64  81 100

In [7]:
sqrt(X)

 [1] 1.000000 1.414214 1.732051 2.000000 2.236068 2.449490 2.645751 2.828427
 [9] 3.000000 3.162278

# Accessing the values of Vectors

In [8]:
X[1]

[1] 1

In [9]:
X[3:6]

[1] 3 4 5 6

In [11]:
X[1:6]

[1] 1 2 3 4 5 6

In [13]:
X[1:9]

[1] 1 2 3 4 5 6 7 8 9

# Adding two Vectors

In [14]:
X <- c(1,2,4,5)
Y <- c(34,5,6,10)

In [15]:
X + Y

[1] 35  7 10 15

# Vectors with Strings

In [16]:
q <- c("Hockey", "Football", "Baseball", "Curling",
"Rugby")

In [17]:
nchar(q)

[1] 6 8 8 7 5

In [18]:
q

[1] "Hockey"   "Football" "Baseball" "Curling"  "Rugby"

# Multiple Elements Vector

In [19]:
v <- 5.4:12.4

In [20]:
v

[1]  5.4  6.4  7.4  8.4  9.4 10.4 11.4 12.4

In [21]:
V<- 3.8: 11.3

If final does not belong to the sequence it will be discarded

In [22]:
V

[1]  3.8  4.8  5.8  6.8  7.8  8.8  9.8 10.8

# Using Seq Operator

In [23]:
print(seq(5,10,by=0.3))

 [1] 5.0 5.3 5.6 5.9 6.2 6.5 6.8 7.1 7.4 7.7 8.0 8.3 8.6 8.9 9.2 9.5 9.8

# Using the c() function

The non-character values are coerced to character type if one of its elements is a character

In [26]:
s <- c('apple', 'red',5,'grapes')
print(s)

[1] "apple"  "red"    "5"      "grapes"

# Accessing Vector Elements

Elements of a Vector are accessed using indexing. The [ ] brackets are used for indexing. Indexing starts with position 1. Giving a negative value in the index drops that element from result.TRUE, FALSE or 0 and 1 can also be used for indexing

# Vector Manipulation

### Vector arithmetic

Two vectors of same length can be added, subtracted, multiplied or divided giving the result as a vector output

In [27]:
V1 <- c(3,8,4,5,0,11)
V2 <- c(4,11,0,8,1,2)

In [28]:
V1 + V2

[1]  7 19  4 13  1 13

### Vector Element Recycling

If we apply arithmetic operations to two vectors of unequal length, then the elements of the shorter vector are recycled to complete the operations

In [33]:
V1 <- c(3,4,5,6,1,1)
V2 <-c(2,3)

In [34]:
V1 + V2

[1] 5 7 7 9 3 4

### Vector Element Sorting

In [35]:
v <-c(34,66,23,7687,10)
sort(v)

[1]   10   23   34   66 7687

In [36]:
print(sort(v,decreasing = TRUE))

[1] 7687   66   34   23   10

In [37]:
colors <-c("Blue","Red","Green","Yellow")
print(sort(colors))

[1] "Blue"   "Green"  "Red"    "Yellow"

### How to modify a vector in R?

In [38]:
X <-c(1,2,3,4,6,7,90)

In [39]:
X[2] <- 100

In [40]:
X

[1]   1 100   3   4   6   7  90

In [41]:
X[4] <-120

In [42]:
X

[1]   1 100   3 120   6   7  90

### How to delete a Vector?

In [43]:
X <- c(1,2,3,4,5,6)
X <- NULL

In [44]:
X

NULL